## 전세계 행복도 지표 연습문제
- 데이터 구조 확인
- 년도의 unique한 값 확인

In [185]:
import pandas as pd
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv'
df = pd.read_csv(url)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   행복랭킹      312 non-null    int64
 1   나라명       312 non-null    object
 2   점수        312 non-null    float64
 3   상대GDP     312 non-null    float64
 4   사회적지원     312 non-null    float64
 5   행복기대치     312 non-null    float64
 6   선택의 자유도   312 non-null    float64
 7   관대함       312 non-null    float64
 8   부패에 대한인식  311 non-null    float64
 9   년도        312 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 24.5+ KB
None

In [2]:
df['년도'].unique()

array([2019, 2018], dtype=int64)

In [3]:
df['년도'].value_counts().index

Int64Index([2019, 2018], dtype='int64')

In [5]:
df.head(2)

   행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019

### Quiz1
- 2019, 2018 각 년도의 행복 랭킹 10위를 차지한 나라의 행복점수의 평균을 구하라

In [7]:
df[df['행복랭킹']==10]['점수'].mean()

7.259

### Quiz2
- 2019, 2018 각 년도의 행복 랭킹 50위 이내의 나라들의 각각의 행복 점수 평균을 데이터프레임으로 출력하라

In [18]:
#1
df_year_group = df[df['행복랭킹']<= 50].groupby('년도').mean()
df_year_group = pd.DataFrame(df_year_group['점수'])
df_year_group

           점수
년도
2018  6.64678
2019  6.67002

In [17]:
#2
df[df['행복랭킹']<= 50][['나라명', '점수', '년도']].groupby('년도').mean()

           점수
년도
2018  6.64678
2019  6.67002

### Quiz3
- 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하라

In [21]:
df[df['년도']==2018][['점수', '부패에 대한인식']].corr().iloc[0,1]

0.40529152271510027

### Quiz4
- 2018년도와 2019년도의 행복랭킹이 변화하지 않는 나라의 수를 구하라

In [30]:
rank_chage = df[['행복랭킹', '나라명']].drop_duplicates().count()
print(len(df[['행복랭킹', '나라명']])-rank_chage)

행복랭킹    15
나라명     15
dtype: int64

### Quiz5
- 각 년도 별 하위 행복 점수의 5개 국가의 평균 행복 점수를 구하라

In [36]:
#1
df_2018 = df[df['년도']==2018].tail(5)
df_2019 = df[df['년도']==2019].tail(5)
print('2018년도 행복점수 하위 5개국 평균 =', df_2018['점수'].mean())
print('2019년도 행복점수 하위 5개국 평균 =', df_2019['점수'].mean())

2018년도 행복점수 하위 5개국 평균 = 3.1799999999999997
2019년도 행복점수 하위 5개국 평균 = 3.1407999999999996

In [41]:
#2
df.groupby('년도').tail(5).groupby('년도').mean()[['점수']]

          점수
년도
2018  3.1800
2019  3.1408

### Quiz6
- 2019년 데이터를 추출하고 해당 데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [49]:
top = df[ (df['년도']==2019) & (df['상대GDP']>=df['상대GDP'].mean()) ]['점수'].mean()
bottom = df[ (df['년도']==2019) & (df['상대GDP']<=df['상대GDP'].mean()) ]['점수'].mean()
print(top-bottom)

1.390483957219251

### Quiz7
- 각 년도의 부패에 대한 인식을 내림차순 정렬했을 때 상위 20개국의 부패에 대한 인식 평균을 구하라

In [56]:
df.sort_values(by=['년도','부패에 대한인식'], ascending=False).groupby('년도').head(20).groupby('년도').mean()['부패에 대한인식']

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

### Quiz8
- 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년도 그 밖으로 밀려난 국가의 숫자를 구하라

In [134]:
top50_18 = set(df[ (df['년도']==2018)&(df['행복랭킹'] <= 50) ]['나라명'])
top50_19 = set(df[ (df['년도']==2019)&(df['행복랭킹'] <= 50) ]['나라명'])
len(top50_18 - top50_19)

4

### Quiz9
- 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [203]:
#2018년,2019년 모두 기록이 있는 나라들 
countries2 = df.value_counts('나라명')[df.value_counts('나라명')==2].index

#행복점수 증가 계산
df2 = df.copy()
mul = df2[df2['나라명'].isin(countries2)]
mul.loc[mul['년도']==2018, '점수'] = mul.loc[mul['년도']==2018]['점수'].mul(-1)
result = mul.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]
print(result)

점수    0.87
Name: Burundi, dtype: float64