<a href="https://colab.research.google.com/github/dajeong25/Study/blob/main/python_big_data/%EB%B9%85%EB%B6%84%EA%B8%B0_%EB%AA%A8%EC%9D%98%EA%B3%A0%EC%82%AC_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모의고사 1

# 제 1유형
> 공기의 질을 측정한 데이터

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

## 1-1번

In [8]:
# 1번
df = pd.read_csv('/content/drive/MyDrive/airquality.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB
None

In [7]:
print(df.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [9]:
print(df.isnull().sum())

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [14]:
print(df.describe())

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [10]:
df_oz = df.fillna(0)
df_oz.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    0.0      0.0  14.3    56      5    5

In [11]:
answer1 = df.Ozone.mean() - df_oz.Ozone.mean()
print(answer1)

10.188133874239352

## 1-2번

In [19]:
scaler = MinMaxScaler()
df_oz['Wind'] = scaler.fit_transform(df_oz[['Wind']])
print(df.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [20]:
scaler = StandardScaler()
df['Wind'] = scaler.fit_transform(df_oz[['Wind']])
print(df.head())

   Ozone  Solar.R      Wind  Temp  Month  Day
0   41.0    190.0 -0.728332    67      5    1
1   36.0    118.0 -0.557464    72      5    2
2   12.0    149.0  0.752529    74      5    3
3   18.0    313.0  0.439270    62      5    4
4    NaN      NaN  1.236657    56      5    5

In [21]:
answer2 = df_oz.Wind.mean() - df.Wind.mean()
print(answer2)

0.4346061231510142

## 1-3번

In [24]:
print(df.head())

   Ozone  Solar.R      Wind  Temp  Month  Day
0   41.0    190.0 -0.728332    67      5    1
1   36.0    118.0 -0.557464    72      5    2
2   12.0    149.0  0.752529    74      5    3
3   18.0    313.0  0.439270    62      5    4
4    NaN      NaN  1.236657    56      5    5

In [28]:
print(df.groupby('Month')['Temp'].mean())

Month
5    65.548387
6    79.100000
7    83.903226
8    83.967742
9    76.900000
Name: Temp, dtype: float64

# 제2유형

In [40]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer
from sklearn.neighbors import KNeighborsClassifier

In [33]:
df = pd.read_csv('/content/drive/MyDrive/Bank_Personal_Loan_Modelling.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [39]:
df.drop(['ID', 'ZIP Code'], axis=1, inplace=True)
print(df.head())
print(df.describe())

   Age  Experience  Income  Family  CCAvg  Education  Mortgage  Personal Loan  \
0   25           1      49       4    1.6          1         0              0
1   45          19      34       3    1.5          1         0              0
2   39          15      11       1    1.0          1         0              0
3   35           9     100       1    2.7          2         0              0
4   35           8      45       4    1.0          2         0              0

   Securities Account  CD Account  Online  CreditCard
0                   1           0       0           0
1                   1           0       0           0
2                   0           0       0           0
3                   0           0       0           0
4                   0           0       0           1
               Age   Experience       Income       Family        CCAvg  \
count  5000.000000  5000.000000  5000.000000  5000.000000  5000.000000
mean     45.338400    20.104600    73.774200     2.396400     1.937938
std      11.463166    11.467954    46.033729     1.147663     1.747659
min      23.000000    -3.000000     8.000000     1.000000     0.000000
25%      35.000000    10.000000    39.000000     1.000000     0.700000
50%      45.000000    20.000000    64.000000     2.000000     1.500000
75%      55.000000    30.000000    98.000000     3.000000     2.500000
max      67.000000    43.000000   224.000000     4.000000    10.000000

         Education     Mortgage  Personal Loan  Securities Account  \
count  5000.000000  5000.000000    5000.000000         5000.000000
mean      1.881000    56.498800       0.096000            0.104400
std       0.839869   101.713802       0.294621            0.305809
min       1.000000     0.000000       0.000000            0.000000
25%       1.000000     0.000000       0.000000            0.000000
50%       2.000000     0.000000       0.000000            0.000000
75%       3.000000   101.000000       0.000000            0.000000
max       3.000000   635.000000       1.000000            1.000000

       CD Account       Online   CreditCard
count  5000.00000  5000.000000  5000.000000
mean      0.06040     0.596800     0.294000
std       0.23825     0.490589     0.455637
min       0.00000     0.000000     0.000000
25%       0.00000     0.000000     0.000000
50%       0.00000     1.000000     0.000000
75%       0.00000     1.000000     1.000000
max       1.00000     1.000000     1.000000

In [50]:
X = df.drop('Personal Loan', axis=1)
y = df['Personal Loan']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234, stratify=y)

norma = Normalizer()
X_train = norma.fit_transform(X_train)
X_test = norma.transform(X_test)

In [52]:
train_acc = []
test_acc = []
settings = range(1, 25)
for k in settings:
  clf = KNeighborsClassifier(n_neighbors=k)
  clf.fit(X_train, y_train)
  train_acc.append(clf.score(X_train, y_train))
  test_acc.append(clf.score(X_test, y_test))
print(train_acc)
print(test_acc)

[1.0, 0.9542857142857143, 0.964, 0.9394285714285714, 0.9471428571428572, 0.9322857142857143, 0.938, 0.9262857142857143, 0.9331428571428572, 0.9231428571428572, 0.9257142857142857, 0.9205714285714286, 0.9237142857142857, 0.9177142857142857, 0.9217142857142857, 0.9171428571428571, 0.9182857142857143, 0.9168571428571428, 0.9191428571428572, 0.9194285714285715, 0.9197142857142857, 0.9182857142857143, 0.9194285714285715, 0.9162857142857143]
[0.9213333333333333, 0.9213333333333333, 0.9246666666666666, 0.92, 0.926, 0.916, 0.9166666666666666, 0.9173333333333333, 0.9166666666666666, 0.918, 0.916, 0.914, 0.914, 0.91, 0.914, 0.9093333333333333, 0.91, 0.908, 0.908, 0.9093333333333333, 0.9093333333333333, 0.9073333333333333, 0.9073333333333333, 0.9086666666666666]

In [53]:
print('최적값 k = 5')

최적값 k = 5